{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block main %}
  <div class="d-flex justify-content-evenly mb-5">
    {% for icecream in icecreams %}
      <div class="text-center">
        <img class="selectable-item" id="{{ icecream.name|slugify }}" src="{{ icecream.image_path }}" width="100" height="100" /><img />
        <p>Take 1x {{ icecream.name }} ice cream ball</p>
      </div>
    {% endfor %}
  </div>

  <p id="order-list" class="m2">No items selected</p>
  {# No need for form div as we use ajax #}
  {% bootstrap_messages %}
  <button class="btn btn-primary" type='submit' id='create-order-button' disabled>Place an order</button>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Ice cream system</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'seller/js/order_create.js' %}"></script>
{% endblock %}
